<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
<header class="header">
     <div class="nav_head">
       <nav>
         <ul>
           <li>lien 1</li>
           <li>lien 2</li>
           <li>lien 3</li>
           <li>lien 4</li>
           <li>lien 5</li>
           <li>lien 6</li>
         </ul>
       </nav>
     </div>
</header>

<main>