      {% include '_header.html.twig.html' %}
        <div class="flex">
         {% for article in articles %}
             {% if article.published %}
           <div class="article">
               {# je génère un lien vers la route articleshow cette route
                demande une wildcard 'id', donc je l'a renseigne avec l id de l'article bouclé#}
               <a href={{ path ('articleShow',{'id' : article.id}) }} >
                   <h1>{{article.title}}</h1>
               </a>

             <h2>{{article.content}}</h2>
           </div>
             {% endif %}
            {% endfor %}
         </div>
      {% include '_footer.html.twig.html' %}

