<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
    <header>

    </header>

    <main>
        <div class="flex">
         {% for article in articles %}
           <div class="article">
               {# je génère un lien vers la route articleshow cette route
               cette demande une wildcard 'id', donc je l'a renseigne avec l id l'article bouclé#}
               <a href={{ path ('articleShow',{'id' : article.id}) }} >
                   <h1>{{article.title}}</h1>
               </a>

             <h2>{{article.content}}</h2>
           </div>
            {% endfor %}
         </div>

    </main>
    <footer>

    </footer>


</body>
</html>